<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
  <header>
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
  <body>
    <header>
      <nav class="navbar">
        <a href="/" class="nav-item">Home</a>
        <a href="/about" class="nav-item">About</a>
        <a href="/contact" class="nav-item">Contact</a>
      </nav>
    </header>
    <h1>There was a problem loading the page! 404</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/about">About</a> |
      <a href="/contact">Contact</a>
    </nav>
  </body>
</html>
