{{define "taskListContent"}}
  <div class="container">
    <form id="taskForm" class="form-container">
      <h1>Add a Task</h1>
      <div class="form-element">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
      </div>
      <div class="form-element">
        <label for="description" rows="4">Description:</label>
        <textarea id="description" rows="4" name="description" required></textarea>
      </div>
      <div class="form-element">
        <button type="submit" class="submit-button">Submit</button>
      </div>
    </form>
    <div class="row">
      <div class="column column-8">
        <h1>Task List</h1>
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {{range .Tasks}}
                <tr>
                  <td>{{.ID}}</td>
                  <td>{{.Title}}</td>
                  <td>{{.Description}}</td>
                </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="column column-4">
        <h1>Recent Activity</h1>
        <ul id="recent-activity"></ul>
      </div>
    </div>
  </div>
{{end}}
